<div
  class="bg-image"
  style="background-color: #fcfcfc;"
>
    <div class="card d-flex p-5 rounded w-25 position-absolute top-50 start-50 translate-middle shadow-lg p-5 mb-5 bg-dark" style="background-color: #405073" >
        <div class="text-light d-flex justify-content-center">
        <h2>Entrar</h2>
        </div>
        <div class="card-body">
                <%= form_with(scope: :session, url: bookings_path, method: :get) do |f| %>
                    <div class="input-group mb-3 ">                    
                        <%= f.label :Usuário, class:"input-group-text pe-3" %>
                        <%= f.text_field :name, class:"form-control" %>
                    </div>

                   
                    <div class="input-group mb-3">
                        <%= f.label :senha, class:"input-group-text pe-3" %>
                        <%= f.password_field :password, class:"form-control" %>
                    </div>
                    <div class="text-center mb-3">
                        <%= f.submit "Login", class:"btn btn-light"%>
                    </div>

                    <div class="alert alert-dark" role="alert">
                        Novo usuário? 
                    <%= link_to "Crie sua conta!", new_user_path %>
                    </div>
                    
                    
                <% end %>
        </div>
    </div>
</div>

