<% horaBrasil = @datePass+" "+@timePass+":00"+"-3:00"%>
<% horaConvertida = horaBrasil.to_time %>

<% if @currentTime < horaConvertida%>
    <%= form_with(model: @booking, remote: true) do |form| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "erros") %> não permitiram o agendamento:</h2>

        <ul>
            <% booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
        <div class="row">
            <div class="col form-control m-3">
                <%= form.label :star_date, "Data: " %>
                <%= form.hidden_field :star_date %>
                <%= @datePass %>
            </div>
            <div class="col form-control m-3">
                <%= form.label :start_time, "Hora: " %>
                <%= form.hidden_field :start_time %>
                <%= " #{@timePass}:00" %>

            </div>
        </div>
            <div class="mt-3 text-start">
            <%= form.label :description, "Descrição" %>
            <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="mt-3 actions text-end">
                <%= form.submit 'Reservar', data: { remote: 'true', disable_with: "Salvando..." }, class: "btn btn-dark"%>
                <%= link_to t('Cancelar'), bookings_path, :class => 'btn btn-outline-dark' %> 
              
            </div>
                

<% end %>
<% else %>
 <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
   <div class="container d-flex justify-content-center">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div class="text-danger fst-4">Impossível realizar reserva no passado</div>
    </div>
  </div>
<% end %>

<%# <div class ="d-flex justify-content-between"> %>
        <%# <%= link_to '<button type="button" class="btn btn-danger">Voltar</button>'.html_safe, @bookings_path %>
        <%# <%= link_to '<button type="button" class="btn btn-primary">Exibir</button>'.html_safe, @booking %> 
<%# </div> %>